<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete An Expense Tracker</title>
    <link rel="stylesheet" href="/css/delete-expense.css">
</head>
<body>
    <h1> Delete An Expense Tracker</h1>
    <br>
    <br>
    <p>If You Want To Delete An Expense Tracker Fill Out this Form :</p>
    <br>
    <br>
    <form action="/App/delete" method="post">
        <input type="text" required placeholder="title" name="title">
        <input id="submit" type="submit" value="delete">
    </form>
</body>
</html>