<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>Personal Expense Tracker</h1>
    <br>
    <br>
    <p>"Welcome to your Personal Expense Tracker!<br>
    This web app helps you keep track of all your expenses in one place.<br>
    Add new expenses, view them instantly in real-time, and manage your spending efficiently.<br>
    All your data is displayed clearly in JSON format for easy monitoring and reference."</p>
    <br>
        <p>What Do You Want To Do?: </p><div> <a href="/Add">Add Expense</a> | <a  href="/App/getAll">View Expenses</a> |  <a href = "/find">Edit Expense</a> | <a href="/delete">Delete Expense</a></div> 
        
</body>
</html>