<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Trackers</title>
</head>
<body>
    <h1>All Expense Trackers</h1>
    <br>
    <br>
    <p>If You Want To Find All Your Trackers Click Here :</p>
    <br>
    <br>
    <form action="/App/getAll" method="get">
        <input type="submit" value="View">
    </form>
</body>
</html>