h1 {
    text-align: center ;
    color: blue;
}

p {
    font-size: 18px;
    color: gray;
    text-align: center;
}

div {
    text-align: center;
    font-size: 20px;
    
}

a {
    margin: 0 10px;
    text-decoration: none;
    color: green;
}