h1 {
    text-align: center;
    color: blue;
}

form {
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    padding: 20px;
    border-radius: 20px;
     box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
     background-color: white;
}

input {
    font-size: 20px;
    padding: 5px; 
}

input#submit {
    padding-left: 40px;
    padding-right: 40px;
    background-color:lightskyblue;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
}

input#submit:hover {
    background-color: deepskyblue;
    color: white; 
    cursor: pointer;  
}
button {
    font-size: 20px;
    background-color:lightskyblue;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: deepskyblue;
    color: white;   
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: black;
}

body {
    background-color: lightcyan;
}







